.input {
    display: flex;
    height: 4.5em;
    flex: 1;
    background-color: #ffffff;
    outline: 1px solid #888;
    color: #000000;
    justify-content: flex-end;
    padding: 0.5em;
    font-size: 2em;
    align-items: flex-end;
  }